*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
.revitalize-logo{
    color: white;
}
.navbar-light{
    background:#02646fcf ;
    padding: 15px 78px 17px;
}
.slide-window .slide-wrapper .slide .slide-caption {
    color: #fff;
    background: #02646fcf;
    top: 9.23%;
    padding: 280px 374px 414px 374px;
    width: 100%;
    margin: a;
    left: 0px;
}
a.btn.ml-lg-2.w3ls-btn {
    color: black;
    -webkit-appearance: none;
    border-radius: 3px;
}
.modal-header {
    padding: 21px 10px 18px 46px;
}
.modal-cancel {
    padding: 19px 13px 0px 0px;
}
.right-doctor {
    width: calc(100% / 2);
    text-align: center;
}

.registration-popup {
    display: flex;
}
.left-patient {
    width: calc(100% / 2);
    text-align: center;
}
i.fas.fa-user-injured , .fas.fa-user-md {
    color: #25484c;
    font-size: 100px;
}
.icon {
    padding: 29px 0px 31px 0px;
}
h2#exampleModalLabel {
    color: #ffab67;
    padding-bottom: 15px;
}
button.close {
    outline: none;
}
button.btn.ml-lg-2.w3ls-btn {
    box-shadow: none;
    border-radius: 3px;
}
.main-heading > h2 {
    color: white;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
.row.animate.wow.fadeInRight.animated {
    display: flex;
}
.font-weight-6 {
    font-weight: 600;
}
.font-weight-6 {
    font-weight: 600;
}
.sec-how-it-work .para {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.6;
}
.text-wheat {
    color: #ffab67;
}
.text-blue {
    color: var(--primary-color);
}
.text-gray {
    color: #888484;
}
.text-white {
    color: white;
}
.parallax-5 {
    background-image: url(../images/patient-step-2.jpg);
    background-size: cover;
}
.parallax-2 {
    background-image: url(../images/hospital-step-1.jpg);
    background-size: cover;
}
.parallax-3 {
    background-image: url(../images/doctor-step-3.jpg);
    background-size: cover;
}
.bg-color{
    background: #02646fb3;
    width: 50%;
    padding: 94px 0px;
}
.col-md-6 {
    background: #ffffffad;
    padding: 94px 0px;
}
.how-it-work-text > h3 {
    padding: 103px 0px 23px 129px;
    text-align: justify;
}
.how-it-work-text > h2 {
    padding: 10px 28px 17px 129px;
}

.how-it-work-text > p {
    width: 100%;
    padding: 9px 13px 11px 129px;
}
.col-sm-4.w3-ab {
    padding: 42px 0px;
}
.reg-form {
    padding: 22px 49px;
    width: 100%;
    margin: 0% 33%;
    display: inline-block;
    color: var(--primary-color);
    background: whitesmoke;

}
label.col-form-label.radio-label {
    padding: 0px 37px 0px 0px;
}
input.form-radio {
    /* padding: 0px 0px 0px 0px; */
    margin: 0px 14px 0px 21px;
}
.button {
    background: var(--primary-color);
    color: #ffab67;
}
.text-dark {
    color: var(--primary-color) !important;
    padding-top: 48px;
    font-size: 34px;
}
.button-submit {
    padding: 27px 0px;
}
.top-image > img {
    width: 59.23%;
    height: 250px;
}
.top-image {
    text-align: center;
}
.contact-section{
    background-image: url(../images/contactus-img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-us-heading > h2 {
    color: white;
    font-size: 37px;
}
.contact-us-para > p {
    font-size: 20px;
    color: white;
    padding: 11px 0px;
}
.contact-us-head {
    position: absolute;
    z-index: 999;
    padding: 64px 0;
    width: 59.35%;
    background: #02646fad;
    text-align: center;
    margin: 0px 305px;
}
.contact-parentdiv {
    background: #ffffffa3;
}
.contact-us-top {
    padding-top: 154px;
}
.top-image {
    text-align: center;
}
.contact-us-heading > h2 {
    font-size: 36px;
    padding: 0px 0px 17px 0px;
    color: white;
}
.contact-us-para > p {
    font-size: 20px;
    color: white;
}
.contact-form {
    margin-bottom: 140px;
}
/* Taha */
.section-whyRaD .sec-img {
    background: url(../images/webRaD.png);
    height: 400px;
    background-size: cover;
    background-position: center;
}
.p-40 {
    padding: 40px;
}
.iconlist-2 {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    float: left;
}
.iconlist-2 .icon {
    width: 18px;
    height: 18px;
    padding: 0px;
    margin: 3px 0px 0px 0px;
    float: left;
    font-size: 14px;
    text-align: center;
    line-height: 15px;
    border-radius: 100%;
}
.iconlist-2 .text {
    padding: 0px 0 0 28px;
    margin: 0px;
    display: block;
}
.text > p{
    font-size: 1rem !important;
}
.text-awesome{
    color:#ffab67;
}
.margin-foot{
    margin-left: auto !important;
}
.set-div {
    padding: 73px 0px;
}
.remove-padding{
    padding: 0px;
}
.search-form {
    display: flex !important;
    margin-top: 46px;
}
.form-mine {
    margin: 12px;
}
.submit_search {
    height: 38px;
    margin-top: 12px;
    background: #02646f;
    color: #ffab67;
}
.profile-picture{
    height: 162px;
}
.rating {
    margin: 0px 87px;
    margin-top: 16px;
}
.selection{
    display: flex;
    justify-content: space-evenly;
}
.navbar-brand{
    font-size: 1em !important;
}
.b-appt{
    background: #02646f;
    color: white;
    padding: 12px 9px;
    border-radius: 5px;
}
.list-pg{
    font-size: 20px !important;
}
.list-appt{
    margin-top: 12px;
}
.to-view-doc{
    margin-top: 13px;
}
.grid-list {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 5px;
    padding-left: 0;
    margin-top: 5px;
}
.form-div-appt{
    color: #02646f;
    margin: 0px;
    padding-left: 1.5rem !important;
}
.form-div-appt > label{
    padding-top: 10px;
}
.submit-appt{
    background: #02646f;
    color: #ffab67;
}
.doct-info{
    text-align: center;
    padding-top: 16px;
    color: #02646f;
}
.doct-info > p{
    color: #02646f;
}
.li-appt{
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 26px;
    text-align: center;
}
.updated-profile{
    color: #02646f;
    margin-left: 342px;
}
/* Taha */
    

/* Tehzeeb */
.chat-heading {
    color: var(--primary-color);   
    display: inline-block;
    padding: 30px 420px;
}
.chatbox {
    margin: 34px auto;
    width: 50%;
    border: #706e6e 2px solid;
    border-radius: 10px 10px 0px 0px;
    margin-top: 10px;
    height: 87vh;
    bottom: 0;
    right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
}

ul.chatbox-listing {
    list-style: none;
    bottom: 38px;
    left: 0;
    display: flex;
    width: calc( 100% - 2px );
    padding: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px grey solid;
    height: 85%;
    flex-wrap: wrap;
    align-content: flex-end;
}
 
.message {
    background: #9E9E9E;
    color: white;
    border-radius: 0px 5px;
    margin-top: 5px;
    padding: 5px;
    font-size: 12px;
    width: calc(100% - 50px);
}

.message.your-message {
    background: #03A9F4;
    border-radius: 5px 0px;
    float: right;
}
.chatarea {
    height: 10%;
    width: 100%;
    bottom: 0;
    display: flex;
    padding: 5px;
    align-items: center;
}

input.form-control {
    float: left;
    /* width: 208px; */
    margin-right: 10px;
}

input[type="button"] {
    border-radius: 4px;
    border: none;
    padding: 2px 10px;
    margin-top: 3px;
}
.view {
    width: 178%;
    display: flex;
    margin: 0px 0px 11px 0px;
}

li{
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#02646f
;
    --secondary-color:whitesmoke;
    /* --secondary:'Dancing Script', cursive;
    --primary:'Catamaran', sans-serif; */
}
.login-body{
    background-image: url(../images/login-bg.jpg);
}
h1{
    color: var(--primary-color);
    padding: 30px 216px 0px 245px;
    display: inline-block;
}
.login-section{
    width: 100%;
    height: auto;
    /* margin-top: 100px; */
    padding: 112px 3px;
    background: #000000a8;
}
.left-section{
    width: 22.01%;
    display: inline-block;
    margin-left: 209px;
}
.left-div{
    background-color: var(--primary-color);
    height: 200px;
}

h3{
    font-size: 20px;
    text-align: center;
    padding-top: 22px;
  
}
.icon-heading > p{
    font-size: medium;
}
.right-section{
    width: 49.59%;
    background-color: var(--secondary-color);
    height: 400px;
    /* display: inline-block; */
    float: right;
    /* padding-right: 10px; */
    margin-right: 214px;
    padding: 0 5px;
}
.form{
    /* color: var(--green); */
    color: black;
    padding: 0;
    width: 100%;
    display: inline-block;
    margin: 36px auto;
    background-color: whitesmoke;
}
.btn-danger {
    color: #fff;
    background-color: #02646f;
    border-color: #02646f;
    width: 100%;
}
/* Tehzeeb */


.icon-heading > h3 {
    font-size: 24px;
    color:#ffab67 ;
}
.img > i {
    font-size: 70px;
    color: white;
}
.img {
    text-align: center;
    padding: 43px;
}
section.profile-section {
    padding-bottom: 70px;
}
.profile-pat {
    display: flex;
}
.my-details {
    width: 60%;
}

.my-details-links {
    width: 24%;
    margin-left: 350px;
}

fsorm.form-patient-pro {
    margin: 0px;
}
div.li-a-div-pt > a {
    background: var(--primary-color);
    color: white;
    padding: 11px 30px 11px;
}
li.li-pt {
    width: 91%;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 26px;
    text-align: center;
}
.links-heading {
    padding: 31px 0px 9px 29px;
    background: whitesmoke;
}
.doctors-my-detals {
    width: 100%;
    display: flex;
}
.doctors-profile {
    margin-top: 34px;
}
.reg-form-div {
    width: 60%;
}
.doctors-detail {
    width: 20%;
    text-align: center;
    background: whitesmoke;
    margin-left: 18%;
}
form.reg-detail-pt {
    margin: 0px;
    width: 75%;
}
.doctors-name > p, .doctors-speciality > p, .doctors-clinic > p {
    font-size: 20px;
    color: #026673;
    background: #e9ecef;
    border-radius: 3px;
    width: 76%;
    margin: 10px 0px 0px;
    display: inline-block;
}
.doctors-clinic > p > a {
    color: #026673;
}
.doctors-links > p > a {
    color: white;
    padding: 13px 70px;
    /* background: #e9ecef; */
    border-radius: 3px;
}
.doctors-links > p {
    font-size: 20px;
    margin: 10px 35px;
    background: var(--primary-color);
    width: 76%;
    border-radius: 4px;
}
.login-link {
    text-align: center;
}
form.reg-form.login-form {
    margin: 0px;
}
.radio-doctor > label {
    padding: 9px 17px 1px 3px;
}
.login-link-2{
    padding: 22px 0px 0px;
}
.navbar-img{
    width: 35px;
    border-radius: 3px;
    margin-left: 20px;
}
.div-dc-li {
    display: flex;
    width: 50%;
    margin-left: 22%;
    padding: 21px 24px 19px 23px;
    background: #f5f5f5;
    margin-bottom: 20px;
}
.pl-4 {
    padding-top: 5px;
}
.pl-4 > h2 {
    color: var(--primary-color);
}
.pl-4 > p {
    font-size: 16px;
    color: var(--primary-color);
}
ul.grid-list-half.pl-4 > li> i {
    color: #ffab67;
}
ul.grid-list-half.pl-4 > li {
    color: var(--primary-color);
}
.doc-11.doc-12-sm > a {
    padding: 12px;
    border-radius: 3px;
    color: white;
    background: var(--primary-color);
}
.links-pt > a {
    padding: 12px;
    border-radius: 3px;
    color: white;
    background: var(--primary-color);
    margin-right: 15px;
}
.doc-11.doc-12-sm {
    margin: 18px 0px;
}
.li-div-step {
    color: #02646f;
    list-style: circle;
    list-style-position: inside;
    padding: 4px 0px 3px 9px;
    background: #f5f5f5;
    font-size: 19px;
    margin: 11px 0px;
    border-radius: 3px;
}
.time-slots-div {
    display: flex;
}
label.col-form-label {
    padding-right: 10px;
    display: block;
}
.error{
    color: red;
}
.detail-div-1 , .time-div-app , .links-appoinment{
    display: flex;
}
.patent-details {
    width: 66%;
    margin: 0px;
}
.detail-child {
    padding-right: 9px;
}
.li-pt-app{
    width: 50%;
}
ul.ul-pt-app {
    margin: 14%;
}
.links-appoinment {
    margin: 29px 0px 0px 200px;
}
.appointment-divs{
    display: flex;
    margin: 20px 0px;
}
form.search_form {
    padding-right: 22px;
}
.link-appointment {
    display: flex;
    width: 100%;
    padding-top: 25px;
}
.links-buttons-pt > a {
    background: #026477;
    color: white;
    padding: 11px;
    border-radius: 3px;
    margin-right: 10px;
}
.appointment-pt-doc{
    width: 100%;
    margin: 0px;
}
.my-appointment {
    margin: 0px 0px 17px 0px;
}
ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    display: flex;
}
.div-tab > li {
    padding: 15px;
}

.div-tab > li > a {
    margin: 10px 170px;
    color: white;
    padding: 0px 38px;
 }
.div-tab > li {
    background: #02646f;
    border: 1px solid white;
    border-radius: 5px;
}
.prescrition-form-div{
    width: 100%;
}
section.prescription-section {
    margin: 35px 0px;
    text-align: center;
}
li.nav-item.dropdown.mr-3.mt-lg-0.mt-3 {
    width: 322%;
}
.div-tab {
    margin: 5px 27px 12px 34px;
}
form.reg-form.form-patient-pro {
    margin: 0px;
}
.links {
    width: 100%;
    display: flex;
    padding-top:  32px;
}
.detail-links {
    width: 100%;
    /* display: flex; */
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    background: #02646f;
}
ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    background: #02646f;
    padding: 4px;
}
div#tabs {
    text-align: -webkit-center;
}
.ui-tabs-anchor{
    color: white;
    font-size: 21px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 8px 212px;
}
input.btn.btn-danger.send {
    padding: 6px 3px;
    margin-left: 10px;
}
.col-80 {
    width: 88%;
}
.col-20 {
    width: calc(100% - 88%);
}
.profile-image {
    width: 223px;
    height: 194px;
}
div#rateYo-20 {
    margin: 19px 27px 0px;
}
li.sender {
    background: #02646f;
    color: white;
    margin: 4px 0px 4px 65px;
    width: 88%;
    text-align: end;
    height: 36px;
    border-radius: 11px 0px 0px 0px;
}
li.receiver {
    background: #5d6667;
    color: white;
    margin: 4px 0px 4px 0px;
    width: 82%;
    text-align: start;
    height: 36px;
    border-radius: 0px 9px 0px 0px;
}
.rate {
    text-align: -webkit-center;
}         

/* .custom-file-input{
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
} */
/* .custom-file-label{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;

} */
input#profile_edit {
    color: #026673;
    background: #e9ecef;
    width: 77%;
    margin: 12px;
    height: 33px;
}
/* .custom-file-label::after {
    content: "Browse";
    width: 100%;
    text-align: center;
} */
.pt-Or-doc{
    width: 157%;
    padding: 5px 0px;
    color: white;
}
.parent-div-doc {
    display: flex;
    width: 60%;
}
.Reviews-heading > h4 {
    color: #02646f;
}
ul.Reviews-ul > li {
    background: #e2dbdb;
    margin: 13px;
}
p.patient-name-reviews {
    color: #02646f;
    margin-left: 15px;
}
.Reviews {
    width: 456%;
}
p.patient-reviews {
    color: black;
    margin-left: 41px;
}
ul.grid-list-half.pl-4 {
    padding: 12px 9px;
    /* color: var(--primary-color); */
    margin-left: 32px;
}
