.navbar-light{
    background:#02646fb3 ;
}
.slide-window .slide-wrapper .slide .slide-caption {
    /* position: absolute; */
    color: #fff;
    background: #02646fb3;
    top: 8.66%;
    padding: 280px 374px 414px 374px;
    width: 100%;
    margin: a;
    left: 0px;
}
