.section-whyRaD .sec-img {
    background: url(../images/webRaD.png);
    height: 400px;
    background-size: cover;
    background-position: center;
}
.p-40 {
    padding: 40px;
}
.iconlist-2 {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    float: left;
}
.iconlist-2 .icon {
    width: 18px;
    height: 18px;
    padding: 0px;
    margin: 3px 0px 0px 0px;
    float: left;
    font-size: 14px;
    text-align: center;
    line-height: 15px;
    border-radius: 100%;
}